.wrapper {
	position: relative;
}
.locked {
	position: absolute;
	inset: 1 0;
	background-color: rgba(211, 211, 211, 0.5);
	backdrop-filter: blur(0.5px);

	display: flex;
	align-items: center;
	padding-inline: 20px;
	> .lockContainer {
		display: flex;
		align-items: center;
		gap: 5px;
		background-color: rgba(255, 255, 255);
		padding: 10px 20px;
		border-radius: var(--global-border-radius);
		> .lockText {
			font-size: 0.8rem;
		}
		> .lockIcon {
			font-size: 1.3rem;
			color: var(--foreground-dark);
		}
	}
}

.LessonContainer {
	.main {
		margin-block: 2px;
		padding: 10px 20px;
		display: flex;
		gap: 10px;
		cursor: pointer;
		position: relative;
		.check {
			border: solid 1px rgba(199, 199, 199);
			height: 12px;
			width: 12px;
			margin-top: 3px;
		}
		.checked {
			background: var(--accent2);
			outline: solid rgba(199, 199, 199);
			border: solid white;
		}

		.container {
			flex: 1;
			.title {
				font-size: 0.9rem;
				font-weight: 400;
			}
			.subtitle {
				margin-top: 5px;
				font-size: 0.75rem;
				color: var(--foreground-light);
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				gap: 5px;
			}
		}

		&:hover {
			background-color: var(--accent2-light);
		}
	}

	.selected {
		background-color: var(--accent2-light);
		.container {
			.subtitle {
				color: var(--foreground);
			}
		}
	}
}
