.main{
  .details {
    background-color: var(--background-dashboard);
    padding: 20px;
    border-radius: var(--global-border-radius);
    width: clamp(300px, 80%, 800px);
    .title {
      font-size: 1.2rem;
      font-weight: 500;
      margin-block: 10px 5px;
    }
    .title2 {
      font-size: 1.1rem;
      font-weight: 400;
      margin-bottom: 5px;
    }
    .subTitle {
      font-size: 0.9rem;
      color: var(--foreground-light);
      font-weight: 400;
      margin-bottom: 3px;
    }
    .progressContainer {
      width: 100%;
      margin-top: 10px;
      .progressText {
        font-size: 0.8rem;
        margin-bottom: 5px;
        color: var(--foreground-light);
      }
      .progressLineBackground {
        background-color: var(--background-disabled);
        height: 5px;
        border-radius: var(--global-border-radius);
        .progressLine {
          background: linear-gradient(
            to right,
            var(--accent2),
            #6bc88a
          );
          height: 5px;
          border-radius: var(--global-border-radius);
        }
      }
    }
    .courseBtnContainer{
      margin-top: 15px;
      display: flex;
      justify-content: space-between;
     gap: 10px;
      .certificateBtn{

      }
    }
    .startNowContainer {
      display: flex;
      /* justify-content: flex-end; */
      align-items: center;
      gap: 5px;
      border: solid 1px rgba(199, 199, 199, 0.498);
      width: fit-content;
      padding: 7px 13px;
      transition: all 0.6s ease-in-out;
      border-radius: var(--global-border-radius);
      .startNow {
        font-size: 0.9rem;
        color: var(--accent2);
        transition: all 0.6s ease-in-out;
      }
      .icon {
        font-size: 1rem;
        color: var(--accent2);
        transition: all 0.6s ease-in-out;
      }
      &:hover {
        cursor: pointer;
        border: solid 1px var(--accent2);
        background-color: var(--accent2);
        .startNow {
          color: var(--foreground-white);
        }
        .icon {
          color: var(--foreground-white);
        }
      }
    }
  }
  .moduleProgressContainer{

    .lessonProgressContainer{
      padding-block: 5px;
      .lessonTitle{
        font-size: 0.9rem;
        font-weight:500 ;
        color: var(--foreground-dark);
      }
      .lessonStatus{
        font-size: 0.8rem;
        color: var(--foreground-light);
        margin-top: 3px;
      }
    }
    .moduleCertificateContainer{
      margin-top: 10px;
    }
  }

}