.main {
	max-width: 300px;
	width: 100%;
	background-color: white;
	box-shadow: 0 1px 12px rgba(128, 128, 128, 0.1);
	transition: all 0.6s ease-in-out;
	border-radius: var(--global-border-radius);
	cursor: pointer;
	.image {
		width: 100%;
		aspect-ratio: 16/9;
		/* height: 180px; */
		object-fit: cover;
		border-radius: var(--global-border-radius)  var(--global-border-radius)  0 0;
	}
	.container {
		padding: 20px;
		.title {
			font-size: 1rem;
			font-weight: 400;
			margin-bottom: 10px;
		}
		.description {
			font-size: 0.75rem;
			color: var(--foreground-light);
			margin-bottom: 15px;
		}
		.content {
			display: flex;
			gap: 10px;
			font-size: 0.85rem;
			color: var(--foreground-light);
			margin-bottom: 5px;
		}
		.detailsButton {
			display: flex;
			gap: 10px;
			align-items: center;
			margin-top: 30px;
			font-weight: 300;
			font-size: 0.9rem;
			transition: all 0.6s ease-in-out;
			.icon {
				color: dodgerblue;
			}
			&:hover {
				cursor: pointer;
				text-decoration: underline;
			}
		}
	}
	&:hover {
		box-shadow: 0 2px 12px rgba(128, 128, 128, 0.25);
	}
}
