.overlay {
  padding-bottom: 100px;
  width: 100%;

  .main {
    padding-inline: var(--global-padding-inline);
    padding-block: 20px;
    min-height: 80vh;
    .container {
      display: flex;
      flex-wrap: wrap-reverse;
      gap: 20px;
      .left {
        flex: 1.5 500px;
      }
      .right {
        flex: 1 300px;
        overflow: hidden;
      }
      .details {
        background-color: var(--background-dashboard);
        padding: 20px;
        border-radius: var(--global-border-radius);
        width: clamp(300px, 100%, 800px);
        .title {
          font-size: 1.2rem;
          font-weight: 500;
          margin-block: 10px 5px;
        }
        .btnContainer {
          display: flex;
          flex-wrap: wrap;
          gap: 10px;
        }
      }
      .progressContainer {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
      .subTitle {
        font-size: 0.9rem;
        color: var(--foreground-light);
        font-weight: 400;
        margin-bottom: 3px;
      }
      .heading {
        font-size: 1.3rem;
        margin-bottom: 10px;
      }
    }
  }
}
