.main {
  width: 100vw;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  padding-inline: var(--global-padding-inline);
  overflow: hidden;
  .left {
    flex: 1 300px;
    height: fit-content;
    padding-block: 100px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    > .title {
      font-size: clamp(2rem, 5vw, 3.5rem);
      margin-bottom: 5px;
      font-weight: 600;
      color: var(--foreground-white);
    }
    > .description {
      font-size: 0.9rem;
      color: rgba(255, 255, 255, 0.6);
    }
    .button {
      border: none;
      margin-top: 20px;
    }
  }
  .right {
    height: 100vh;
    flex: 1 300px;
    position: relative;
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      height: 100px;
      z-index: 1;
      background: linear-gradient(0deg, rgba(1, 0, 2, 0), #010002);
    }
    &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 100px;
      background: linear-gradient(180deg, rgba(1, 0, 2, 0), #010002);
    }
    .container {
      position: absolute;
      overflow: auto;
      border-radius: var(--global-border-radius);
      display: flex;
      gap: 20px;
    }
    .box1 {
      display: flex;
      flex-direction: column;
      gap: 20px;
      height: 100%;
      animation: carousalScrolling1 25s linear infinite;
      .image {
        width: 100%;
        height: auto;
        border-radius: var(--global-border-radius);
      }
    }
    .box2 {
      display: flex;
      flex-direction: column;
      gap: 20px;
      height: 100%;
      animation: carousalScrolling2 25s linear infinite;
      .image {
        width: 100%;
        height: auto;
        border-radius: var(--global-border-radius);
      }
    }
  }
}

@keyframes carousalScrolling1 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}
@keyframes carousalScrolling2 {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0%);
  }
}
