.main {
  display: flex;
  flex-wrap: wrap;
  .left {
    flex: 1 300px;
    min-height: fit-content;
    padding-block: 50px;
    background-color: white;
    height: 90vh;
    @media screen and (max-width: 600px) {
      height: 70vh;
      display: none;
    }
  }
  .right {
    flex: 3 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: fit-content;
    padding: var(--global-padding-inline);
    height: 90vh;
    @media screen and (max-width: 600px) {
      height: 70vh;
    }
    .container {
      max-width: 400px;
      .title {
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.2;
        margin-bottom: 20px;
      }
      .description {
        font-size: 1rem;
        line-height: 1.5rem;
        color: var(--foreground-dark);
        margin-bottom: 20px;
        font-weight: 300;
      }
    }
  }
}
