.main {
	height: clamp(fit-content, 50vh, 800px);
	background-image: url('/assets/landing-bg2.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-inline: var(--global-padding-inline);
	padding-block: 50px;
	.container {
		background-color: rgba(255, 255, 255, 0.2);
		border-radius: var(--global-border-radius);
		width: 100%;
		backdrop-filter: blur(5px);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 10px;
		padding: 50px;
		.title {
			font-size: 2rem;
			font-weight: 200;
			line-height: 1.2;
			text-align: center;
		}
		.description {
			font-size: 0.8rem;
			text-align: center;
			font-weight: 300;
			max-width: 1000px;
			margin-bottom: 20px;
		}
		.heading {
			font-size: 1rem;
			font-weight: 300;
			text-align: center;
		}
	}
}
