.main {
  display: flex;
  flex-wrap: wrap;
  /* height: clamp(fit-content, 90vh, 600px); */
  min-height: fit-content;
  height: 100vh;
  gap: 30px;
  /* max-height: 900px; */
  padding-inline: var(--global-padding-inline);
  padding-block: 150px;
  .left {
    flex: 1 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: fit-content;
    @media screen and (max-width: 600px) {
      height: fit-content;
    }
    .container {
      width: 100%;
      .title {
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.2;
        margin-bottom: 20px;
      }
      .description {
        font-size: 1rem;
        line-height: 1.5rem;
        color: var(--foreground-dark);
        margin-bottom: 20px;
        font-weight: 300;
        max-width: 400px;
      }
    }
  }
  .right {
    flex: 1 300px;
    background-image: url('/assets/landing/bg1.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: fit-content;
    padding-block: 50px;
    @media screen and (max-width: 700px) {
      height: 70vh;
    }
  }
}
