.main {
  display: flex;
  flex-wrap: wrap;
  /* height: clamp(fit-content, 90vh, 600px); */

  .left {
    flex: 1 300px;
    min-height: fit-content;
    padding-block: 50px;
		background-color: white;
    @media screen and (max-width: 750px) {
      display: none;
    }
  }
	.right {
    flex: 3 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: fit-content;
		padding: var(--global-padding-inline);
    height: 90vh;
    @media screen and (max-width: 600px) {
      height: 50vh;
    }
    /* padding-block: 50px;
    padding-inline: var(--global-padding-inline); */
    .container {
      max-width: 400px;
      .title {
        font-size: 2rem;
        font-weight: 300;
        line-height: 1.2;
        margin-bottom: 20px;
      }
      .description {
        font-size: 0.9rem;
        line-height: 1.5rem;
        color: var(--foreground-light);
        margin-bottom: 20px;
        font-weight: 300;
      }
    }
  }
}
