.main {
  display: flex;
  flex-wrap: wrap;

  .left {
    flex: 1 500px;
    background: rgba(0, 0, 0, 0) linear-gradient(-221deg, #0062c8 14%, #51adbe 50%, #6bc988 98%) repeat scroll 0 0 !important;
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-direction: column;
    padding-inline: var(--global-padding-inline);
    padding-block: 80px;
    .text {
      color: var(--foreground-white);
      font-size: 1.5rem;
      line-height: 2.5rem;
      font-weight: 400;
      font-family: var(--font-futuraPt);
    }
    .button {
      border: solid 1px white;
      background-color: transparent;
      color: white;
      margin-top: 20px;
    }
  }
  .right {
    flex: 1 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: fit-content;
    @media screen and (max-width: 550px) {
      grid-template-columns: 1fr;
    }

    .box {
      height: 350px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .box:nth-child(1) {
      background-image: url('/assets/landing/bg6.webp');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .box:nth-child(2) {
      background-image: url('/assets/landing/bg5.webp');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .box:nth-child(3) {
      background-color: white;
    }
    .box:nth-child(4) {
      background-image: url('/assets/landing/bg7.webp');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}
