.main {
	display: flex;
	flex-wrap: wrap;
	/* height: clamp(fit-content, 90vh, 600px); */
	min-height: fit-content;
	height: 90vh;
	max-height: 800px;

	.left {
		flex: 1 300px;
		display: flex;
    flex-direction: column;
		align-items: center;
		justify-content: center;
    min-height: fit-content;
    @media screen and (max-width: 600px) {
      height: 50vh;
    }
    padding-block: 50px;
    padding-inline: var(--global-padding-inline);
    .container{
      max-width: 300px;
      .title{
        font-size: 2rem;
        font-weight: 200;
        line-height: 1.2;
        margin-bottom: 20px;
      }
      .description{
        font-size: 0.8rem;
        color: var(--foreground-light);
        margin-bottom: 20px;
        font-weight: 300;
      }
    }
	}
	.right {
		flex: 1 300px;
		background-image: url('https://images.unsplash.com/photo-1573164574048-f968d7ee9f20?q=80&w=2338&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
    min-height: fit-content;
    padding-block: 50px;
    @media screen and (max-width: 600px) {
      height: 50vh;
    }
	}
}
