.overlay {
	/* background-image: url('/assets/landing/bg.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat; */
}
.main {
	display: flex;
	flex-wrap: wrap;
	/* height: clamp(fit-content, 90vh, 600px); */
	min-height: fit-content;
	align-items: center;
	height: 90vh;
	max-height: 600px;
	padding-inline: var(--global-padding-inline);
	padding-block: 100px;
	/* background-color: rgba(0, 0, 0, 0.15); */
	/* backdrop-filter: blur(1px); */
	.left {
		flex: 1 300px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		color: var(--foreground-dark);
		min-height: fit-content;
		height: 50vh;
		padding-block: 50px;
		padding-inline: 10px;
		.container {
			min-width: 300px;
			max-width: 500px;
			.title {
				font-size: 2rem;
				font-weight: 300;
				line-height: 1.2;
				margin-bottom: 20px;
				color: var(--foreground);
			}
			.description {
				font-size: 0.9rem;
				margin-bottom: 20px;
				line-height: 1.5rem;
				font-weight: 300;
			}
		}
	}
	.right {
		flex: 1 300px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		min-height: fit-content;
		height: 50vh;
		padding-block: 50px;
	}
}
