.main{
  padding-inline: var(--global-padding-inline);
  padding-block: 20px;
  margin-bottom: 200px;
  .title{
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 50px;
    margin-top: 100px;
  }
  .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
    .section{
      min-width: 350px;
    }

  }
  .text{
    font-size: 1rem;
    line-height: 2rem;
    font-weight: 500;
    max-width: 600px;
    margin-top: 20px;
  }
  .email{
    font-size: 1rem;
    line-height: 2rem;
    font-weight: 400;
    max-width: 600px;
    color: var(--accent2);
  }
  .address{
    max-width: 300px;
    font-size: 0.9rem;
    color: var(--foreground-light);
    margin-top: 10px;
    line-height: 1.8rem;
  }
}