.main {
	background-color: var(--background-dashboard);
	overflow-x: auto;
	height: fit-content;
	position: relative;
}
.table {
	border-collapse: collapse;
	width: 100%;
	.tableRow {
		border-bottom: solid 1px var(--table-border);
		transition: all 0.3s ease-in-out;
		&:hover {
			background-color: var(--table-hover);
		}
		&:last-child {
			border-bottom: none;
		}
	}

	.tableHeader {
		background-color: var(--accent2);
		color: var(--foreground-white);
		white-space: nowrap;
		padding: 15px;
		/* position: sticky; */
		/* top: 0; */
	}
	.tableHeader,
	.tableData {
		text-align: left;
		font-size: 0.85rem;
	}
	.tableData {
		padding: 13px 15px;
		color: var(--foreground);
	}
}
.selected {
	background-color: var(--table-selected) !important;
	&:hover {
		background-color: var(--table-selected) !important;
	}
}
.onRowSelectOnClick {
	cursor: pointer;
}
