.main {
	position: relative;
	padding: 2px 5px;

	.threeDots {
		cursor: pointer;
	}

	.container {
		position: fixed;
		background-color: var(--background-dashboard);
		min-width: fit-content;
		box-shadow: 0px 1px 12px 0px rgba(0, 0, 0, 0.2);
		border-radius: var(--global-border-radius);
		padding: 5px;
		z-index: 100;
		transform: translate(-85%, 20px);
	}

	.buttonContainer {
		display: flex;
		align-items: center;
		gap: 10px;
		padding: 10px 15px;
		cursor: pointer;
		border-radius: var(--global-border-radius);
		transition: all 0.3s ease-in-out;
		&:hover {
			background-color: #f0f0f0;
		}
	}

	.button {
		font-size: 0.9rem;
	}

	&:hover {
		.container {
			display: block;
		}
	}
}
