.main {
  min-height: 85vh;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .title {
      font-size: 1.2rem;
      font-weight: 500;
    }
    .buttonContainer {
      display: flex;
      align-items: center;
      gap: 10px;
      .refreshIcon {
        cursor: pointer;
        border-radius: var(--global-border-radius);
        box-shadow: 0 1px 12px rgba(128, 128, 128, 0.1);
        font-size: 2.2rem;
        padding: 5px;
        background-color: var(--background-dashboard);
      }
    }
  }
}

.questionsSection {
  margin-top: 10px;
  padding: 30px;
  border-radius: var(--global-border-radius);
  background-color: var(--background-dashboard);
  display: flex;
  flex-direction: column;
  gap: 20px;
  .questionsContainer {
    .questionText {
      font-size: 0.9rem;
      color: var(--foreground);
    }
    .optionsContainer {
      display: flex;
      flex-direction: column;
      gap: 5px;
      padding-left: 15px;
      margin-top: 5px;
      .optionTextContainer {
        display: flex;
        gap: 5px;
        align-items: center;
        .optionText {
          font-size: 0.8rem;
          color: var(--foreground-light);
        }
        .icon {
          font-size: 0.8rem;
          color: green;
        }
      }
    }
  }
}
.notAvailable {
  font-size: 0.8rem;
  color: var(--foreground-light);
  margin-top: 10px;
}
.infoContainer {
  margin-top: 10px;
  background-color: var(--background-dashboard);
  padding: 20px;
  border-radius: var(--global-border-radius);
  .info {
    font-size: 0.85rem;
    color: var(--foreground-dark);
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  .info > p {
    border-radius: var(--global-border-radius);
    padding: 10px;
    &:nth-child(1) {
      background-color: #e6faf4;
    }
    &:nth-child(2) {
      background-color: #fcefef;
    }
    &:nth-child(3) {
      background-color: #fdfbe9;
    }
    &:nth-child(4) {
      background-color: #ebfcfd;
    }
    &:nth-child(5) {
      background-color: #fef0fd;
    }
  }
}
