.button {
  cursor: pointer;
  width: fit-content;
  min-width: 110px;
  font-weight: 500;
  padding: 9px 30px;
  border: none;
  border-radius: 5px;
  font-size: 0.9rem;
  transition: all 0.6s ease-in-out;
  outline: none;
  &:disabled {
    background-color: var(--background-disabled);
    border: solid 1px var(--background-disabled);
    cursor: not-allowed;
    color: var(--foreground-light2);
  }
}
.textContainer {
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  .icon {
    font-size: 1.2rem;
  }
}
.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 100%;
}
.primary {
  color: var(--foreground-white);
  background: var(--accent2);
  border: solid 1px var(--accent2);
  &:hover {
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.2);
    border: solid 1px var(--accent2-light);
    background: var(--accent2-light);
    color: var(--accent2);
  }
}
.secondary {
  color: var(--foreground-white);
  background: var(--accent1);
  border: solid 1px var(--accent1);
  &:hover {
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.2);
  }
}
.outLined {
  color: var(--accent1);
  background: var(--foreground-white);
  border: solid 1px var(--accent1);
  &:hover {
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.2);
  }
}
.danger {
  color: var(--foreground-white);
  background: var(--danger);
  &:hover {
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.2);
  }
}
.dangerOutLined {
  color: var(--danger);
  background: var(--foreground-white);
  border: solid 1px var(--accent1);
  &:hover {
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.2);
  }
}
