.main {
	padding: 20px;
}
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.status {
	padding: 10px 20px;
	border-radius: var(--global-border-radius);
}
.subTitle {
	font-size: 0.8rem;
	font-weight: 600;
	margin-top: 10px;
	margin-bottom: 5px;
}
.container {
	color: var(--foreground-light);
	padding: 10px;
	display: flex;
	flex-direction: column;
	gap: 5px;
	font-size: 0.9rem;
}
