.main {
	.container {
		.top {
			display: flex;
			flex-wrap: wrap;
			gap: 20px;
			align-items: flex-start;
			justify-content: space-between;
			padding-bottom: 20px;
			.buttonContainer {
				display: flex;
				flex-wrap: wrap;
				gap: 10px;
			}
		}
		.bottom {
			display: flex;
			flex-wrap: wrap;
			gap: 20px;
			.left {
				flex: 1 300px;
			}
			.right {
				flex: 1 300px;
				.emptyText{
					color: var(--foreground-light);
					font-size: 0.85rem;
					margin-top: 5px;
				}
			}
		}
	}
}

.subtitle {
	color: var(--foreground-light);
	font-size: 0.85rem;
	margin-top: 5px;
}

.title {
	font-size: 1.2rem;
	font-weight: 500;
}

.videoContainer {
	width: 100%;
	aspect-ratio: 16/9;
	border-radius: var(--global-border-radius);
	overflow: hidden;
	.video {
		width: 100%;
	}
}

