.main {
	.container {
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
		.left {
			flex: 1 300px;
		}
		.right {
			flex: 1 300px;
			background: var(--background-dashboard);
			border-radius: var(--global-border-radius);
			padding: 20px;
		}
	}
}

.subtitle {
	color: var(--foreground-light);
	font-size: 0.85rem;
	margin-top: 5px;
}

.title {
	font-size: 1.2rem;
	font-weight: 500;
}

.videoContainer {
	width: 100%;
	aspect-ratio: 16/9;
	border-radius: var(--global-border-radius);
	overflow: hidden;
	.video {
		width: 100%;
	}
}

.uploadVideo {
	padding: 20px;
	max-width: 800px;
	margin-top: 10px;
	background-color: var(--background-dashboard);
	border-radius: var(--global-border-radius);
	.form {
		margin-top: 10px;
		display: flex;
		flex-direction: column;
	}
}

.uploadAssetsContainer {
	.form {
		margin-top: 10px;
		display: flex;
		flex-direction: column;
		gap: 10px;

		.button {
			margin-top: 10px;
		}
		.label {
			font-size: 0.8rem;
			color: var(--foreground-light);
		}
	}
}
