.main {
	.container {
		padding-inline: var(--global-padding-inline);
		padding-block: 30px;
		display: flex;
		flex-direction: column;
		gap: 30px;
		margin-bottom: 70px;
		.title {
			font-size: 1.2rem;
			font-weight: 500;
		}
	}
}
