.main {
	.image {
		width: 100%;
		aspect-ratio: 16/9;
	}
	.container {
		padding-inline: var(--global-padding-inline);
		padding-block: 20px;
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
		.left {
			flex: 1 300px;
		}
		.right {
			width: 300px;
			height: fit-content;
			background-color: var(--background-dashboard);
			border-radius: var(--global-border-radius);
			padding: 20px;
		}
	}
	.courseTitle {
		font-size: 1.5rem;
		font-weight: 600;
	}
	.category {
		font-size: 0.9rem;
		color: var(--foreground-light);
		margin-top: 10px;
	}
	.title {
		font-size: 1.2rem;
		font-weight: 500;
	}
	.description {
		font-size: 0.9rem;
		color: var(--foreground-light);
		margin-top: 5px;
	}
	.subtitle {
		font-size: 0.8rem;
		font-weight: 300;
		margin-block: 5px 15px;
		color: var(--foreground-light);
	}
	.instructor {
		margin-top: 10px;
		font-size: 0.9rem;
		color: var(--foreground-light);
		.name {
			color: var(--foreground);
			font-size: 1rem;
			margin-block: 10px 5px;
		}
		.bio {
			margin-top: 10px;
			font-size: 0.9rem;
			text-align: justify;
		}
		.socialLinks {
			display: flex;
			flex-direction: column;
			margin-top: 10px;
			.socialLink {
				font-size: 0.8rem;
				color: var(--accent2);
				cursor: pointer;
				transition: all 0.6s ease-in-out;
				&:hover {
					color: var(--accent3);
				}
			}
		}
	}
}
.longDescription {
	font-size: 0.9rem;
	color: var(--foreground-light);
	text-align: justify;
}

.longDescription > h2 {
	font-size: 1.2rem;
	font-weight: 500;
	margin-bottom: 10px;
	color: var(--foreground);
}
.longDescription > h1 {
	font-size: 1.3rem;
	font-weight: 500;
	margin-bottom: 10px;
	color: var(--foreground);
}
