.main {
	display: flex;
	justify-content: center;
	align-items: center;
	height: fit-content;
	border-radius: var(--global-border-radius);
	font-weight: 400;
	font-size: 0.8rem;
	padding: 10px 20px;
	box-shadow: 0 1px 12px rgba(128, 128, 128, 0.1);
}
.primary {
	background-color: var(--background-dashboard);
	color: var(--foreground);
}
.secondary {
	background-color: var(--accent2);
	color: var(--foreground-white);
}

.outLined {
	background-color: var(--background-dashboard);
	color: var(--foreground);
	border: solid 1px var(--foreground-light);
}
