.main {
  padding-inline: var(--global-padding-inline);
  padding-block: 20px;
  min-height: 80vh;

  .certificate {
    max-width: 100%;
    height: auto;
    box-shadow: 0 1px 12px rgba(128, 128, 128, 0.3);
  }
}
