.main {
	background-color: var(--footer-bg);
	padding-inline: var(--global-padding-inline);
	padding-block: 30px;
}
.topContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.container {
	font-size: 0.8rem;
	display: flex;
	gap: 10px;
	margin-top: 10px;
	> .link {
		color: var(--foreground-light);
		font-size: 0.8rem;
		margin-bottom: 8px;
		transition: all 0.6s ease-in-out;
		&:hover {
			color: var(--accent1);
		}
	}
}
.text{
	color: var(--foreground-light);
	font-size: 0.8rem;
}
.icon {
	font-size: 1.3rem;
	margin-right: 10px;
	color: var(--foreground-light);
	cursor: pointer;
	transition: all 0.6s ease-in-out;
	&:hover {
		color: var(--accent1);
	}
}
.line {
	background-color: rgb(195, 195, 195);
	height: 1px;
	margin-top: 5px;
}

.copyright {
	font-size: 0.65rem;
	color: var(--foreground-light);
	padding-block: 20px;
	color: var(--foreground-light2);
}
