.main {
	padding-inline: var(--global-padding-inline);
	padding-block: 20px;
	min-height: 85vh;
	display: flex;
	flex-direction: column;

	.header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		.title {
			font-size: 1.2rem;
			font-weight: 400;
		}
	}
	.container {

	}
	.btnContainer {
		margin-top: 20px;
		display: flex;
		justify-content: flex-end;
		gap: 10px;
	}
}
