.main {
	position: relative;
	padding: 2px 10px;
	.threeDots {
		cursor: pointer;
	}
	.container {
		display: none;
		position: absolute;
		top: 20px;
		right: 0;
		background-color: var(--background-dashboard);
		min-width: fit-content;
		box-shadow: 0px 1px 12px 0px rgba(0, 0, 0, 0.2);
		border-radius: var(--global-border-radius);
		padding: 5px;
		z-index: 10;
	}
	.button {
		cursor: pointer;
		padding: 10px 20px;
		border-radius: var(--global-border-radius);
		transition: all 0.3s ease-in-out;

		&:hover {
			color: var(--foreground-white);
			background-color: var(--accent2);
		}
	}
	&:hover {
		.container {
			display: block;
		}
	}
}
