.main {
	padding: 20px;
}
.pageTitle {
	font-size: 1.4rem;
	font-weight: 600;
}
.title {
	font-size: 0.8rem;
	font-weight: 600;
}
.form {
	max-width: 400px;
}
.span {
	color: var(--foreground-light);
	font-size: 0.8rem;
	margin-bottom: 5px;
	margin-top: 15px;
}
.button{
	margin-top: 40px;
}