.main {
  .videoContainer {
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: var(--global-border-radius);
    overflow: hidden;
    background-color: black;
    .video {
      width: 100%;
    }
  }
  .noTrailer {
    font-size: 0.9rem;
    color: var(--foreground-light);
  }
}
