.main {
	display: flex;
	align-items: center;
	justify-content: center;
  flex-direction: column;
  padding: 30px;
	.text {
		font-size: 0.8rem;
    margin-top: 10px;
		font-weight: 400;
		color: var(--foreground-light2);
	}
}
